<div class="col-sm-12 col-md-12 col-xs-12">
  <h2>Welcome to Stock App!</h2>
    <div class="col-sm-7 col-md-7 col-xs-12 image-container">
      <img id="stock_home_img" src="http://res.dyhjw.com/ueditor/php/upload/image/20170213/1486952297166560.jpeg"/>
    </div>

    <div class="col-sm-5 col-md-5 col-xs-12">
      <h3>This is an Angular stock web application.</h3>
      <p>Angular 4 features exhibits in this project:</p>
      <ul>
        <li>directives, components & data-binding;</li>
        <li>services & dependency injection;</li>
        <li>routing;</li>
        <li>observables;</li>
        <li>forms (both template-driven and reactive);</li>
        <li>pipes;</li>
        <li>HTTP request handling;</li>
        <li>authentication & route protection;</li>
        <li>modules & optimization;</li>
        <li>Firebase & AWS deployment.</li>
      </ul>
      <p>Without signing in, you can only view the recipes and shopping list, <br>
        After Signing in, you can add/edit/delete the recipes and the shopping list. </p>
      <br>
      <p>To sign in the project as an admin <br>
        User: admin@admin.com <br>
        password: 123456</p>
    </div>
</div>
