
<div class="container">
  <div class="row">
    <h1>Welcome to Stock App!</h1>
    <div class="col-md-8">
      <br>
      <img id="stock_home_img" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Ticker_board_of_Tokyo_stock_exchange.jpg"
           alt="stock_home_img" class="img-responsive">
    </div>
    <div class="col_md_4">
      <h3>This is an Angular stock web application.</h3>
      <p>Angular 4 features exhibits in this project:</p>
      <ul>
        <li>directives, components & data-binding; </li>
        <li>services & dependency injection; </li>
        <li>routing; </li>
        <li>observables; </li>
        <li>forms (both template-driven and reactive); </li>
        <li>pipes; </li>
        <li>HTTP request handling; </li>
        <li>authentication & route protection; </li>
        <li>modules  & optimization; </li>
        <li>Firebase & AWS deployment.</li>
      </ul>
      <p>Without signing in, you can only view the recipes and shopping list, <br>
        After Signing in, you can add/edit/delete the recipes and the shopping list. </p>
      <br>
      <p>To sign in the project as an admin <br>
        User: admin@admin.com <br>
        password: 123456</p>
    </div>
  </div>
</div>

