<div class="row">
  <br><br><br>
  <div class="col-xs-12">
    <!--the '?' here is safe navigation operator,
    The Angular safe navigation operator (?.) is a fluent and convenient way to guard against null and undefined values in property paths. Here it is, protecting against a view render failure if the 'stock' is null.-->
    <h1>{{stock?.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" *ngIf="isAuthenticated()"
    appDropDown >
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Stock <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onEditStock()" style="cursor:pointer;">Edit Stock</a></li>
        <li><a (click)="onDeleteStock()" style="cursor:pointer;">Delete Stock</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Stock Code: {{stock?.code | uppercase}}</h1>
  </div>
</div>